<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=8, IE=9, IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <title>@ViewBag.pageTitle - Lear Benchmarking</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")    
    @Html.Raw(ViewBag.zsiLibJSLink)    
    <script>
        var base_url = '@Url.Content("~/")';
        var controller_url = '@this.Context.Request.RequestContext.RouteData.Values["controller"].ToString()';
    </script>
</head>
<body>
    <div class="progressWindow">
        <div class="loadingImg"></div>
        <div class="loadingText">Loading...Please wait</div>
    </div>
    <div class="errorWindow">
        Some processe(s) encountered a problem.
        <br> Please Contact System Administrator.
    </div>
    @Html.Raw(ViewBag.appStartLink)
    <div class="container-fluid page">
        @RenderBody()
    </div>

@{
    if (Session["zsi_login"].ToString() == "Y")
    {
        <div class='debugPanel noprint'>     
            <a href="/pagetemplate/source/@ViewBag.pageName" target="_blank">Edit Page Template</a> 
            | <a href="/javascript/source/@ViewBag.pageName" target="_blank">Edit Javascript</a> 
            | <a href="/page" target="_blank">Pages</a>         
            | <a href="/pagetemplate" target="_blank">Page Templates</a>
            | <a href="/javascript" target="_blank">JavaScripts</a>
        </div> 
    }
}
     <footer >
            <p class="noprint">&copy; @DateTime.Now.Year - Powered By ZettaSolutions, Inc.</p>
       </footer>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<div class="alert alert-success">
    <p>Data has been saved.</p>
</div>
</body>
</html>
